.DS_Store
Thumbs.db
*.swp
*~
.nfs*

*.o
*.obj
*.elf
*.bin
*.hex
*.map
*.lst
*.d
*.out
*.i
*.s

Debug/
Release/
build/
bin/
obj/


*.uvgui.*
*.uvguix.*
*.uvopt
*.uvoptx
*.bak
*.dep
/Listings/
/Objects/

Debug/
Release/
*.dep
*.ewt
*.psw
*.browse
*.pbi
*.pbd.browse

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.settings/
.project
.cproject
.language_interop


Doxygen/
html/
latex/

test_report/
coverage/

*.zip
*.tar.gz
*.7z